## Web-Scraping glints.sg
This script is created to scrape relevant jobs from glints.sg, using the libraries, Selenium and bs4

In [1]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup


from selenium import webdriver
from selenium.webdriver.common.keys import Keys

from time import sleep

import html2text

In [2]:
h = html2text.HTML2Text()

-----------------------

In [113]:
job_data = []

In [ ]:
url ="https://glints.com/sg/opportunities/jobs?countries=SG&jobCategories=2&jobTypes=FULL_TIME%2CPROJECT_BASED&page=3"
driver = webdriver.Chrome(executable_path="/Users/user/Documents/GA-DSI/course-materials/classes/week-06/labs/python-webscraping_opentable-lab-master/chromedriver/chromedriver_1")
driver.get(url)

default_handle = driver.current_window_handle

sleep(2)

for i in np.arange(1,30):
    
    this_job = {}
    sleep(np.random.randint(1,4))
    
    ## Opening the particular job page
    
    job_list = driver.find_element_by_xpath('//*[@id="app"]/div/div[6]/div[2]/div/div/div[5]/div/div[2]/div[{}]/a'.format(i))
    job_list.send_keys(Keys.ENTER)
    driver.switch_to_window(driver.window_handles[1])
        
    sleep(np.random.randint(2,4))
    
    ## Extracting the data required
    
    HTML = driver.page_source
    soup = BeautifulSoup(HTML,'lxml')
    this_job['job_title'] = soup.find("h1").renderContents() ## Job title
    this_job['salary'] = soup.find_all("div",{"class":"content","data-radium":"true"})[2].renderContents().replace('\xc2\xa0',' ')  ## Salary
    this_job['company'] = soup.find("a",{"data-radium":"true","style":"cursor: pointer;"}).renderContents() ## Company
    this_job['jd'] = h.handle(soup.find("div", {"id":"jobDescriptionHTML"}).renderContents().decode('utf-8')) ## Getting the job description
        
    job_data.append(this_job)
        
    sleep(np.random.randint(3,5))
    
    ## Close current listed job page and return to main page with all the other listings
    driver.close()
    driver.switch_to_window(default_handle)

In [153]:
df_glints = pd.DataFrame(job_data)

In [158]:
df_glints

,job_title,company,salary,jd
0,Full Time Data Science Instructor,UpCode Academy,SGD 4800 - 6200 (BASIC),\n\n### We are looking for a Data Scientist to...
1,Business Analyst / Data Analyst,Haulio,1 <span>vacancy</span>,\n\nAs a member of Haulio’s Business Analyst t...
2,(Senior) Data Engineer,JustAnalytics,SGD 5500 - 7500 (BASIC),\n\nJust Analytics is hiring (Senior) Data Eng...
3,Software Engineer,Talenta Pte Ltd,1 <span>vacancy</span>,\n\nAvailability\n\n• Immediate preferred\n\n ...
4,IT Project Manager (Cognos),Maltem Singapore,SGD 3500 - 5000 (BASIC),\n\nHey there! Ready to work in a start-up env...
5,Report Designer (Tableau),Maltem Singapore,SGD 3500 - 5000 (BASIC),\n\nHey there! Ready to work in a start-up env...
6,"Head, Data Analytics",Fundnel Pte Ltd,SGD 5000 - 10000 (BASIC),\n\nWe're looking for analytical and passionat...
7,"Data Science, Associate",MoolahSense Private Limited,SGD 2800 - 3500 (BASIC),\n\nThe Opportunity\n\nYou're a wizard who is ...
8,Product Manager,Aimazing,SGD 3000 - 5000 (BASIC),"\n\nWhy you'll want this job:\n\nIn this role,..."
9,Credit Risk Analyst,Aspire Financial Technologies,SGD 2500 - 3500 (BASIC),\n\nASPIRE CREDIT RISK As a credit risk analys...
10,"Analyst, Business Inelligence",Aimazing,SGD 2500 - 5000 (BASIC),\n\nYour role is to:\n\n * Drive data-based d...
11,Business Data Analyst,Katalystm Pte Ltd,SGD 2000 - 2500 (BASIC),\n\nKatalystM Business Data Analyst\n\n \n\nA...
12,"Executive, Data Science Training and Consulting",Anavantage Management Consultancy Llp,SGD 2000 - 6000 (BONUS),\n\nWe are recruiting full-time Business Consu...
13,Data Scientist/ Engineer (Analyst),Carro,SGD 3000 - 5000 (BASIC),"\n\nAbout Carro\n\nLaunched in June 2015, Carr..."
14,Marketing Analyst,Converzion,SGD 3000 - 4000 (BASIC),\n\nOur people is as important as our clients....
15,Junior Data Analyst,Kpler,SGD 35000 - 45000 (BASIC),\n\nThe Opportunity\n\nKpler is recruiting a D...
16,IT &amp; System Analyst,Agritrade International Pte Ltd,SGD 3000 - 3800 (BASIC),\n\nIT:\n\n * Troubleshooting all IT related ...
17,Growth Data Analyst,Electric8 Pte Ltd,SGD 3000 - 4000 (BASIC),\n\nElectric8 is a digital consultancy based i...
18,Data Analyst,mybitwallet,SGD 3000 - 4000 (BASIC),\n\nJob Details:\n\n• Understand business logi...
19,Senior Data Analyst,Go Game Pte. Ltd.,SGD 3500 - 6000 (BASIC),\n\nYour go-Getting Mission\n\n * Use statist...
20,Data Scientist,Axinan,1 <span>vacancy</span>,\n\nAbout the Job:\n\n\- Design and build data...
21,Business Analyst,Search Personnel,SGD 3500 - 4500 (BASIC),\n\nPosition : Business Analyst Location : Tai...
22,Data Analytics,Shell Infotech,SGD 3000 - 6000 (BASIC),\n\n[Company : ]()Shell Infotech\n\nPosition :...
23,Data / Solutions Analyst (Tech Firm / Macpherson),Forte Employment Services Pte Ltd,1 <span>vacancy</span>,\n\n<div>\n\n * **Location: Macpherson**\n ...
24,Conference Production Intern,Imapac Pte Ltd,SGD 800 - 800 (BASIC),\n\nYou will be working directly with the Head...
25,Associate Specialist (Data Analytics) - Compan...,Msd International Gmbh Singapore,SGD 2500 - 5000 (BASIC),\n\nMSD is collaborating with Infocomm Media D...
26,Business Executive in Data Analytics,Apara Hotel Advisers Pte Ltd,SGD 1800 - 2000 (BASIC),\n\nWe provide structured hotel asset manageme...
27,ESG Analyst,CSRWorks International Pte Ltd,1 <span>vacancy</span>,\n\nAbout Us\n\nCSRWorks International is Sing...
28,Part Time Admin Assistant in Data Science team,Shopee Singapore Private Limited,SGD 800 - 800 (BASIC),\n\n \n\nShopee is the largest mobile-first e...
29,Big Data Developer,Astek International,SGD 4500 - 7500 (BASIC),\n\nAstek is proposing an opportunity for a Bi...
...,...,...,...,...
37,Quantitative Analyst,Integer Alpha Pte Ltd,1 <span>vacancy</span>,\n\n<div>Responsibilities</div><div><div><div>...
38,Teradata,Infinite Computer Solutions Pte Ltd,1 <span>vacancy</span>,\n\n * should have Teradata SQL skills\n * S...
39,Technical Support,greypanel,2 <span>vacancies</span>,\n\n
40,Data Analyst/Data Scientist,Lithan Academy,SGD 3000 - 5000 (BASIC),\n\n### JOB DESCRIPTION\n\n * Perform data ex...
41,Front End Developer,Monetary Authority of Singapore,4 <span>vacancies</span>,\n\nCreate meaningful dashboards for various d...
42,Data Science Developer,Cloak Pte. Ltd.,SGD 3000 - 4000 (BASIC),\n\nYou’re a curious and business driven build...
43,Data Centre Operator (Expo / Paya Lebar),OPUS IT Services Pte Ltd,SGD 2400 - 2750 (BASIC),\n\n<div>The scope of services for DC Operatio...
44,Lead Consultant -Insight &amp;Analytics,AIMIA,SGD -7 - 12 (BASIC),"\n\n#\n\nLead Consultant, Analytics & Insights..."
45,Consultant _Insight &amp; Analytics,AIMIA,1 <span>vacancy</span>,"\n\n# Consultant, Analytics & Insights\n\n **M..."
46,Support Analyst,MTS Gold Global Trading Pte. Ltd.,2 <span>vacancies</span>,\n\n#### We are a growing proprietary trading ...
47,Data Analyst,NTT Data Singapore,SGD 4000 - 5500 (BASIC),\n\n<table><tbody><tr><td>\n\nEssential Duties...
48,Data Engineer,NTT Data Singapore,SGD 4000 - 6000 (BASIC),\n\nEssential Duties and Responsibilities incl...
49,DB2 DBA,Infinite Computer Solutions Pte Ltd,SGD 5000 - 7000 (BASIC),\n\nRole and Responsibilities:\n\n * Extensiv...
50,Data Engineers,Sourcemind FZ LLC,USD 1000 - 2000 (BONUS),\n\n<div>\n\n### We are looking to hire a team...
51,Oracle DBA,Infinite Computer Solutions Pte Ltd,SGD 5000 - 7500 (BASIC),\n\nRole and Responsibilities\n\nA database ad...
52,Sybase DBA,Infinite Computer Solutions Pte Ltd,SGD 5000 - 7500 (BASIC),\n\nRole and Responsibilities\n\n· Syb...
53,SQL Server DBA,Infinite Computer Solutions Pte Ltd,SGD 5000 - 7000 (BASIC),\n\nRole and Responsibilities\n\n· Pro...
54,Data Scientist,UMeKang,USD 9000 - 11000 (BASIC),"\n\nJob Responsibilities: \n• Design, develop..."
55,Quant Researcher,Zhirendao Investment Pte Ltd,SGD 3000 - 5000 (BASIC),\n\nQuantitative Researcher\n\nAs a Quantitati...
56,Senior Business Analyst (Bangkok),Eatigo Singapore Pte Ltd,1 <span>vacancy</span>,"\n\n# The Opportunity\n\nA highly dynamic, mod..."
57,Data Scientist,Go-Jek,1 <span>vacancy</span>,\n\n# The Opportunity\n\nOur data science team...
58,Data Scientist,Dr. Banner,SGD 2500 - 4000 (BASIC),\n\n# The Opportunity\n\nThis is a very exciti...
59,BigData Engineer,Tookitaki,SGD 6500 - 8000 (BASIC),\n\n# The Opportunity\n\n# What You Will Learn...
60,NLP Engineer,PatSnap,SGD 5000 - 10000 (BASIC),\n\n# The Opportunity\n\n# What You Will Learn...
61,Data Scientists,Optimate,1 <span>vacancy</span>,\n\n# The Opportunity\n\nOptimate is creating ...
62,Computer Vision Scientist,Movel AI,1 <span>vacancy</span>,\n\n# The Opportunity\n\nMovel AI is developin...
63,"Digital Data Visualisation Analyst, Accenture ...",Accenture,SGD 3000 - (BASIC),\n\n# The Opportunity\n\nAs a Business Intelli...
64,"Research Editor, Special Interest Persons - Ba...",Dow Jones &amp; Company,1 <span>vacancy</span>,\n\n# The Opportunity\n\nDow Jones’ Risk and C...
65,Multiple Requirements for Data Analytics Consu...,Accion Labs Pte Ltd,6 <span>vacancies</span>,\n\n# The Opportunity\n\n# What You Will Learn...
66,Quality Assurance staff,PT AQ Business Consulting,1 <span>vacancy</span>,\n\n# The Opportunity\n\nYou can work for fast...

In [157]:
df_glints.to_json(path_or_buf='./raw_data_jobs_glint.json',orient='records')